@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*-----------------Start Global Rules----------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /*----------Colors----------*/
  /* Primary */
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  /* Accent */
  --Blue: hsl(248, 32%, 49%);
  /* Neutral */
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150vh;
  background-color: var(--Red);
  background-image: url(../images/bg-intro-mobile.png);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input {
  width: 100%;
  margin: 0.5rem;
  padding: 1rem;
  color: var(--Dark-Blue);
  font-weight: 700;
  border: 0.063em solid var(--Grayish-Blue);
  border-radius: 0.313rem;
  font-family: inherit;
}
.container {
  max-width: 92rem;
  padding: 0 4rem;
  margin: 0 auto;
}

/*Small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*Medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*Large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*-----------------End Global Rules----------------*/
/*-------
| Sections |
--------*/
.sections-direction {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.sections-direction h1,
.sections-direction section > p {
  color: #fff;
  max-width: 13.375rem;
  margin: 0 auto;
}
.sections-direction section > p {
  max-width: 19.375rem;
  text-align: center;
}
.sections-direction .left-section > .box {
  padding: 1.25rem 0;
  line-height: 1.7;
  border-radius: 0.625rem;
  font-weight: 700;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.2);
  background-color: var(--Blue);
  color: #fff;
  border-radius: 10px;
  text-align: center;
}

.sections-direction .left-section > .box > .box-small-text {
  font-weight: 400;
}

.sections-direction .left-section > .box > .box-small-text > .block {
  display: block;
}
.sections-direction .left-section > .form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0.3125rem;
  padding: 1.25rem;
  margin-top: 1.5rem;
  width: 100%;
  -webkit-box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.2);
}

.submit-btn {
  background-color: var(--Green);
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.125rem;
  font-family: inherit;
  text-transform: uppercase;
  box-shadow: 0 5px 0 0 rgb(17, 173, 104);
  margin-bottom: 1rem;
}
footer .footer-paragraph {
  color: var(--Grayish-Blue);
  font-size: 0.6875rem;
  line-height: 1.9;
  text-align: center;
}
footer .footer-paragraph .important {
  font-weight: bold;
  color: var(--Red);
}

@media (min-width: 992px) {
  .sections-direction {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .sections-direction h1,
  .sections-direction section > p {
    margin: 0;
    margin-bottom: 1.5rem;
    line-height: 1.1;
    letter-spacing: -0.03125rem;
    font-size: 3rem;
    max-width: 100%;
  }
  .sections-direction section > p {
    font-size: 1rem;
    max-width: fit-content;
    text-align: start;
    letter-spacing: 0rem;
  }
  .sections-direction .left-section > .box > .box-small-text > .block {
    display: inline-block;
  }
}
